@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Ubuntu:wght@500&display=swap');
body{
    margin: 0%;
    padding: 0%;
}
main{
    /* border: 5px solid red; */
    margin: 5% 5% 0 5%;
    font-family: 'Heebo', sans-serif;
    font-family: 'Ubuntu', sans-serif;

}
/* ===================First Section
========================================= */

.heading{
    /* border: 5px solid rgb(42, 206, 51); */
    border-radius: 5%;
    background-color: rgb(0, 0, 0);
    display: flex;
    padding-left: 5%;
    margin-bottom: 15%;
}
.heading-text, .heading-paragraph, .fa-solid, .watch-btn a {
    color:white;
}
.heading-left{
    /* border: 1px solid red; */
    width: 60%;
    height: 600px;
}
.heading-text{
    width: 70%;
}
.heading-text h1{
    font-size: 4rem;
    /* border: 2px solid red; */
    width: 100%;
}
.heading-paragraph{
    width: 90%;
    font-size: 1.5rem;
    margin-bottom: 15%;
    /* border: 2px solid red; */
}
.watch-btn a{
    font-size: 2rem;
    text-decoration: none;
}
.fa-solid{
    font-size: 2rem;
    margin-left: 2%;
}
.watch-btn {
    /* border: 2px solid aqua; */
    display: inline;
    background-color: rgb(255, 0, 0);
    padding: 20px;
    border-radius: 10%;
   
}
.heading-right{
    /* border: 2px solid red; */
    margin-left: 10px;
}
.player-img{
    /* border: 2px solid blue; */
    margin: 10% 20% 0% 0%;
}
.player-img img{
    width: 20rem;
    height: 600px;
    width: 500px;
}


/* ===================  Second Section
========================================= */



.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    
    /* background-color: #2196F3; */
    /* padding: 10px; */
    column-gap: 10px;   
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    /* padding: 20px 0 20px 0; */
    font-size: 30px;
    text-align: center;
    margin-right: 0;
    
    
  }
  .grid-one{
      background-color: black;
      height: 200px;
      width: 220px;
      line-height: 40px;
      padding: 20px;
      border-radius: 5%;
      
  }
  .match{
      /* color: white; */
      /* border: 3px solid green; */
      background-color: white;
      border-radius: 10%;
      margin-top: 10px;
      font-size:25px;
  }
  .match a{
      text-decoration: none;
      color: black;
  }
    .match a:hover{
      color:rgb(248, 134, 3);
    
  }
  .group{
    /* color: white; */
    /* border: 3px solid green; */
    background-color: white;
    border-radius: 10%;
    margin-top: 25px;
    
}
.blog{
    color: white;
    /* border: 3px solid green; */
    background-color: red;
    border-radius: 10%;
    margin-top: 25px;
}
.grid-two{
    width: 290px;
    margin: 20px 0px 20px 0px;
}
.img img{
    width:100%;
}
.artical-padding{
    padding:10px;
    /* width: 80%; */
}
.transfer p{
    border: 2px solid black;
    /* justify-content: center; */
    width: 60px;
    padding: 5px;
    height: 20px;
}
.etc{
    display: flex;
    justify-content: space-between;
}
.paragraph, .etc{
    font-weight: 600;
}


/* ===================  Footer Section
========================================= */
.footer-section{
    background-color: black;
    color: white;
    font-weight: 700;
    height: 600px;
    margin-top: 130px;
}
.goal{
    text-align: center;
    padding-top: 200px;
    padding-bottom: 70px;
    font-size: 1.5rem;
    font-weight:900;
}
.menu{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-left: 100px;
    font-size: 1.1rem;
}
hr{
    width: 90%;
    opacity: 0.5;
}
/* ===================  Up Camming Match
========================================= */

.flag{
    display: flex;
    justify-content: space-between;
}
.GvsF{
    text-align: center;
    letter-spacing: 1px;
    
}
.td span p{
    margin-left: 20px;
}
.color{
    background-color: red;
    color:white;
}
.colorDown{
    background-color: white;
    color: black;
    margin-top: -5px;
}

/* ===================  Social Icon
========================================= */

.menu{
    margin-bottom: 50px;
}

.social{
    text-align: center;
}
.social a {
    padding: 0 25px 0 25px;
    color: white;
    font-size: 2rem;
}


/* ===================  CSS Responsive Media Qurry
========================================= */


@media screen and (max-width:576px) {
    .heading{
        display: flex;
        flex-direction: column;
    }
    .player-img img{
        margin-top: 250px;
    }

}