body{
    border: 5px solid red;
    margin: 5% 5% 0 5%;

}
.heading{
    /* border: 5px solid rgb(42, 206, 51); */
    border-radius: 5%;
    background-color: rgb(0, 0, 0);
    display: flex;
    padding-left: 5%;
}
.heading-text, .heading-paragraph, .fa-solid, .watch-btn a {
    color:white;
}
.heading-left{
    /* border: 1px solid red; */
    width: 60%;
    height: 600px;
}
.heading-text{
    width: 70%;
}
.heading-text h1{
    font-size: 4rem;
    /* border: 2px solid red; */
    width: 100%;
}
.heading-paragraph{
    width: 90%;
    font-size: 1.5rem;
    margin-bottom: 15%;
    /* border: 2px solid red; */
}
.watch-btn a{
    font-size: 2rem;
    text-decoration: none;
}
.fa-solid{
    font-size: 2rem;
    margin-left: 2%;
}
.watch-btn {
    /* border: 2px solid aqua; */
    display: inline;
    background-color: rgb(255, 0, 0);
    padding: 20px;
    border-radius: 10%;
   
}
.heading-right{
    /* border: 2px solid red; */
    margin-left: 10px;
}
.player-img{
    /* border: 2px solid blue; */
    margin: 10% 20% 0% 0%;
}
.player-img img{
    width: 20rem;
    height: 600px;
    width: 500px;
}